@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    /*Primary*/
    --Very-dark-blue-bg: hsl(233, 47%, 7%);
    --Dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
    --Soft-violet-accent: hsl(277, 64%, 61%);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-main-p: hsl(0, 0%, 100%, 0.75);

    /*Font size*/
    --font-size: 15px;

    /*Font num 1*/
    --inter: 'Inter', sans-serif;
    --inter-normal: 400;
    --inter-bold: 700;

    /*Font num 2*/
    --lexend-deca: 'Lexend Deca', sans-serif;
    --lexend-deca-normal: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--lexend-deca);
    font-weight: var(--lexend-deca-normal);
    font-size: var(--font-size);
    color: var(--Slightly-transparent-white-main-p)
}

h1,
h2,
h3{
    font-family: var(--inter);
    font-weight: var(--inter-bold);
    color: var(--White);
}

h1 {
    font-size: 180%;
}

p {
    line-height: 22px;
    font-size: 95%;
}

span {
    color: var(--Soft-violet-accent);
}

.screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--Very-dark-blue-bg);
}

.box {
    width: 1000px;
    height: 400px;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: var(--Dark-desaturated-blue-card-bg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 7px;
    overflow: hidden;
}

.right-box {
    background-image: url(../images/image-header-desktop.jpg);
    background-color: var(--Soft-violet-accent);
    background-blend-mode: multiply;
    background-size: cover;
}

.left-box {
    position: relative;
}

.left-box-content {
    width: 65%;
    height: 70%;
    position: absolute;
    inset: 0;
    margin: auto;
}

.left-box-content h1 {
    margin-bottom: 20px;
}

.left-box-content p {
    margin-bottom: 80px;
}

.inter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.inter-grid div p {
    font-size: 80%;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
}
